@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
body a{
    color:black;
    text-decoration: none;
}
.head {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background: linear-gradient(to right, #05aa15, rgba(30, 189, 13, 0.77));
}

.head > div {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    z-index: 5;
}

.main_list {
    margin: 15px 0px 20px 3%;
    width: fit-content;
}
.main_list span:hover a{
    color:#d0e55a;
}
.search .field {
    float: left;
    margin: 10px 20px 10px 0px;
}
.search {
    float: right;
    margin: 0.3vw 3vw 0px 0px;
}
.search input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 15vw;
    border-radius: 6px;
    content: "Временно не работает";
}

input[type="submit"] {
    margin-top: 14px;
    color: white;
    background-color: darkgreen;
    padding: 3px 10px;
    border: 1px solid yellow;
    border-radius: 3px;
    content: "Поиск";
}

.search label {
    display: none;
}

.main_list span {
    margin-inline: 1.4vw;
    font-size: 1.4vw;
    font-family: Tahoma;
}

.main_list a:link,
.main_list a:visited{
    color: black;
    text-decoration: none;
}

footer {
    padding-bottom: 20px;
    min-height: 400px;
    margin-top: auto;
    background-color: #005300;
    color: #b1b1b1;
    clear: left;
    bottom: 0;
    position: relative;
    width: 100%;
}

footer .copyright {
    padding-top: 15px;
    text-align: center;
}
.columns.c2 {
    font-family: Tahoma;
    margin-bottom: 20px;
}
.columns.c2 .column{
    display: inline-block;
    float: left;
    width: 48%;
}
.columns.c2 .column > div{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 380px;
}
.columns + div{
    clear: left;
}

.columns column{
    margin-bottom: 25px;
}
.map {
    padding-left: 10%;
}
footer .column{
    padding-inline: 0;
}
footer .column:first-child{
    background-color: darkgreen;
    padding-right: 3%;
}
footer .column:last-child .contact{
    background-color: darkolivegreen;
}
.columns.c3 {
    font-family: Tahoma;
    margin-bottom: 20px;
}

.photo-preview{
    padding-top: 4%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.columns.c3 .column{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-inline: 1%;
    display: inline-block;
    float: left;
    width: 28.5%;
}
.columns.c3 .column:first-child{
    margin-left: 2.5%;
}

.photo-preview .info .name{
    margin-left: 10px;
    font-size: 20px;
}

.hiden-prod-info + .columns .photo-preview .info .name{
    text-align: center;
    min-height: 35px;
}

.photo-preview .info .date{
    margin-block: 0px;
    margin-right: 5px;
    margin-bottom: 7px;
    text-align: end;
    font-size: 12px;
    color: #6f6f6f;
}

.photo {
    text-align: center;
}
.photo-preview .info .date{
    margin-top: 6%;
}

.photo-preview img {
    max-width: 90%;
    border-radius: 10px;
    transition: max-width 0.3s ease;
}
.photo-preview> a:hover img {
    max-width: 95%;
    transition: max-width 0.3s ease;
}
.columns {
    display: inline-block;
    width: 98%;
}

.contact {
    position: absolute;
    padding-left: 7%;
    width: 43%;
}

.logo img {
    padding-left: 50px;
    margin-right: 50px;
    width: 40px;

}

.menu > div {
    display: table-cell;
}

.menu {
    margin-left: 10%;
}
.logo{
    float: left;
}
section{
    max-width: 100%;
    min-height: 500px;
    padding: 20px 5%;
}
.products,
.video-arhiv{
    background-color: rgba(74, 255, 74, 0.68);
}
.poster{
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: Tahoma;
}
.con_info .home:before{
    content: "business";
    font-size: 20px;
    font-family: "Material Icons";
    margin-right: 10px;
    float: left;
}
.con_info .email:before{
    content: "email";
    font-size: 20px;
    font-family: "Material Icons";
    margin-right: 10px;
    float: left;
}
.con_info .phone:before{
    content: "call";
    font-size: 20px;
    font-family: "Material Icons";
    margin-right: 10px;
    float: left;
}
.con_info img{
    max-width: 25px;
    margin-right: 10px;
}
.form_back_speak .form td,
.form_back_speak .form th{
    padding-bottom: 20px;
}
.form_back_speak .form td {
    padding-left: 20px;
}
.form_back_speak .form th {
    padding-top: 5px;
    vertical-align: top;
}
.form_back_speak .form input,
.form_back_speak .form select,
.form_back_speak .form option,
.form_back_speak .form textarea{
    width: 120%;
    font-size: 16px;
    padding: 6px;
}
.form_back_speak .form select{
    width: 122%;
}
.form_back_speak .form{
    margin-top: 18.72px;
}
.form_back_speak .form input[type="submit"]{
    width: auto;
}
.image-product img{
    width: 90%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.image-product{
    margin-top: 40px;
    text-align: center;
    position: relative;
}
.main-info .round{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #3d7826;
    font-family: "Material Icons";
    color: white;
}
.main-info .round div{
    width: 100%;
    padding-top: 20%;
    font-size: 550%;
}

.main-info{
    text-align: center;
}
.main-info p{
    font-size: 95%;
}
.forum-photo{
    text-align: center;
}
.forum-photo img{
    width: 70%;
    margin-top: 50px;
}
.theme-list.forum{
    margin-top: 15%;
}
.theme-list{
    width: 100%;
    margin-top: 5%;
}

.theme-list a {
    color: black;
    text-decoration: none;

}
.theme{
    margin-left: 5%;
    margin-bottom: 5px;
    padding-block: 2px;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #76f182;
    width: 90%;
}
.theme.prod{
    margin-left: 5%;
    margin-bottom: 5px;
    padding-block: 2px;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #2faf40;
    width: 90%;
}
.theme.prod:hover{
    background-color: #038403;
}
.main-forums-theme-list{
    width: 70%;
    padding-inline: 5% 0;
    padding-top: 5px;
    float: left;
    margin-right: 5%;
}
.forums-list{
    width: 13%;
    padding-right: 50px;
    padding-top: 15px;
    border-radius: 7px;
    background-color: #3d7826;
    min-height: 400px;
}
.forums-list a{
    color: black;
    text-decoration: none;
}
.forums-list a:hover{
    color: #76f182;
}
.forum-page > div{
    display: inline-block;
}
.forum-page{
    padding-left: 15px;
    padding-right: 0px;
}
.forums-list li{
    list-style-type: none;
    margin-bottom: 1em;
    text-align: right;
}
.forums-list h4{
    margin-left: 30px;
}
.hiden-prod-info{
    top: -70px;
    width:100%;
    height: 130%;
    background-color: rgba(21,21,21,0.5);
    position: fixed;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.hiden-prod-info:target{
    top:0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
}
.product-info{
    margin-left: 4%;
    margin-top: 2%;
    position: absolute;
    width: 90%;
    height: 67%;
    background-color: white;
    border: 7px solid #005300;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    overflow: auto;
}
.product-info h2 a{
    margin-right: 10px;
    float: right;
    font-family: "Material Icons";
    color: black;
    font-size: 30px;
    position: fixed;
    right: 5.8%;
    text-decoration: none;
}
.product-info > div{
    padding-inline: 40px;
}
.photo-preview a{
    color: black;
    text-decoration: none;
}
.welcome > p{
    text-align: justify;
}
footer .columns{
    display: block;
}
.column >div{
    margin-bottom: 25px;
}
.column >div:last-child{
    margin-bottom: 0px;
}
.column{
    padding-inline: 1%;
}
.del-footer+footer .columns{
    display: none;
}
.del-footer+footer{
    min-height: 70px;
}
.contacts{
    margin-left: 5%;
    margin-block: 20px;
    font-size: 20px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #21760e;
    border-radius: 3.2px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #3c7913;
}

::-webkit-scrollbar{
    width: 12px;
}
.image-list img,
.video-list video{
    width: 100%;
}
.image-list,
.video-list{
    padding-inline: 2%;
}
.image-list a,
.video-list a{
    display: inline-block;
    width: 23.5%;
    margin-right: 0.5%;
    margin-bottom: 2vh;
}
.otchets td{
    width: 12%;
    padding-inline: 1%;
}
.otchets td img{
    max-height: 7em;
    transition: all 0.1s ease;
}
.otchets td:hover img{
    max-height: 20em;
    transition: all 0.1s ease;
}
.con_info .phones{
    margin-left: 30px;
}
.product-info img{
    width: 20%;
    transition: width 0.5s ease;
}
.product-info img:hover{
    width: 80%;
    transition: width 0.5s ease;
}
.to-left,
.to-right{
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #005300;
    stroke: #000000;
    top:44vh;
    z-index: 3;
}
.to-right{
    right: 45px;
    transform: scale(3);
}
.to-left{
    left: 35px;
    transform: scale(3);
}
.hidden-photo{
    background-color: rgba(54, 48, 48, 0.38);
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}
.hidden-photo:target{
    visibility: visible;
}
.hidden-photo >div,
.hidden-photo >a{
    display: inline-block;
}

.hidden-photo{
    height:100vh;
    line-height: 100vh;
    width: 100vw;
}
.hidden-photo img,
.hidden-photo video{
    max-height: 85%;
    max-width: 80%;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
a .full-screen{
    position: fixed;
    left: 0;
    top: 0;
    height:100vh;
    width: 100vw;
    z-index: 1;
}
.number-of-content{
    position: absolute;
    height: 10vh;
    top: 46vh;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #a3a3a3;
    left: 0;
    text-shadow:
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}
.otchet-prew{
    margin-inline: 50px;
}
h3{
    margin-top: 50px;
    margin-left: 30px;
}
.video-prew{
    display: inline;
    z-index: 2;
    background-color: #005300;
}
.form_info p,
.contact-prew{
    margin-inline: 20px;
}
.welcome .info a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.welcome .info a:hover{
    color: #4ec212;
}
.welcome .info a:active{
    color: #7ff37f;
}
.video-list a{
    position: relative;
    text-decoration: none;
}
.video-list a img{
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 60%;
    margin-left: 0.3%;
}
.video-list a:hover img{
    visibility: visible;
}
.make-forum-theme{
    background-color: #6b9758;
    color: black;
    padding: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.make-forum-theme span:last-child{
    float: right;
    position: relative;
    bottom: 5px;
    font-size: 30px;
    margin-right: 1%;
    font-family: "Material Icons";
}
.forum-theme{
    height: 15vh;
    margin: 30px 0;
    background-color: #7ff37f;
    padding: 20px 2%;
    display: block;
    border-radius: 30px;
}
.ava{
    float: left;
    margin-right: 2%;
    border-radius: 50%;
}
.forum-theme > img,
.forum-theme > div{
    max-height: 15vh;
    display: inline-block;
}
.forum-theme p{
    color: #5c5c5c;
}
.title_add{
    margin: 30px 0 0 20px;
}

.topic{
    margin: 30px 10% 30px 3%;
    background-color: #7ff37f;
    padding: 40px 2%;
    display: block;
    border-radius: 3vh;
}
.ava{
    float: left;
    margin-right: 2%;
    border-radius: 50%;
}
.topic > img,
.topic > div{
    max-height: 15vh;
    display: inline-block;
}
.topic p{
    padding: 20px 0 0 2vw;
    color: #000000;
}
.topic h4{
    font-size: 2vw;
}
.write-comment label{
    display: none;
}
.write-comment textarea{
    width: 100%;
    resize: none;
    font-size: 1.5vw;
    padding: 1em;
}
.write-comment td{
    text-align: right;
}
.write-comment td input[type="submit"]{
    margin-left: 93%;
    width: 8vw;
    height: 3vw;
    font-size: 1.2vw;
}
.write-comment table{
    margin: 30px 0 30px 10vw;
    width: 68vw;
}
.comment{
    width: 70vw;
    border: 3px solid #005300;
    border-radius: 3px;
    margin-left: 10vw;
    margin-bottom: 3vh;
}
.com-ava{
    width: 40px;
    margin-top: 1vh;
    border-radius: 3px;
    margin-left: 2vw;
}
.text-comment > img,
.text-comment > h4{
    max-height: 15vh;
    display: inline-block;
    float: left;
}
.text-comment > h4{
    margin-top: 2vh;
    margin-left: 0.7vw;
}
.text-comment{
    margin-top: 1vh;
    height: fit-content;
}

.comment p{
    clear: left;
    margin-inline: 2vw;
    padding-top: 20px;
    padding-left: 3vw;
    padding-bottom: 30px;
    border-top: 2px solid #3d7826;
}
.text-comment h4 a{
    color: #6f6f6f;
}
