<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Байкал-Фурс {% block title %}Заголовок{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" href="/static/image/logog.png">
</head>
<body>
<div class="head">
    <div class="logo">
    <a href="/"><img src={% static "image/logog1.png" %}></a>
    </div>
    <div class="search">
        <form method="POST" novalidate>
        {% csrf_token %}
            <div class="field">{{ form_search }}</div>
            <input type="submit" value="Поиск">
        </form>
    </div>
    <div class="main_list">
        <span><a href="/">Главная</a></span>
        <span><a href="/products">Продукция и услуги</a></span>
        <span><a href="/photoarchive">Фото и видео</a></span>
        <span><a href="/faq">Вопрос-Ответ</a></span>
        <span><a href="/forum">Форум</a></span>
        <span><a href="/contacts">Контакты</a></span>
        <!-- <span>Покупателям</span> -->
    </div>
</div>
{% block body %}Содержание станицы{% endblock body %}
</body>
<footer>
    <div class="columns c2">
        <div class="column">
        <div class="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A98cb8c71d44681f464c61d73449c493990484fb5f8760a2f15f3ccc646fff109&amp;width=80%&amp;height=380&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        </div>
        <div class="column">
        <div class="contact">
            <h4>Контакты: ООО «Байкал-Фурс»</h4>
            <div class="con_info">
                <p class="home">Адрес: 665035, г. Иркутск, ул. Рабочего штаба, д. 15 помещение 21</p>
                <p class="email">Эл.почта: bondmit@yandex.ru</p>
                <p class="phone">Телефоны:</p>
                <div class="phones">+ 7 908 777 94 65<br><br>
                + 7 950 052 73 74<br><br>
                + 7 3952 55 00 65<br><br></div>
                <a href="https://api.whatsapp.com/send?phone=<79087779465>"><img src={% static "image/wapp.png" %}></a>
                <a href="https://tlgg.ru/dnbond"><img src="/static/image/tel.png"></a>
                <a href="https://viber.click/79087779465"><img src="/static/image/viber.png"></a>
            </div>
        </div>
        </div>
    </div>
        <div class="copyright">
            © Copyright 2021 - 2021 | ООО "Байкал-Фурс".
            <br>
            Все права защищены | Закупка и реализация охотничьей продукции
            <br>
            152-ФЗ: Политика обработки персональных данных. Соглашение об использовании сайта. Согласие на обработку персональных данных.
        </div>
</footer>
</html>