{% extends "base.html" %}
{% block title%}Форум{% endblock title%}
{% block body %}
<h1>Форум</h1>
<section class="forum-page">
<div class="main-forums-theme-list">
    <div class="search">
        <form method="POST">
            {% csrf_token %}
            {{ form_search.as_p }}
            <input type="submit" value="Поиск">
        </form>
    </div>
    {% if user.is_authenticated %}
    <div class="make-forum-theme">
        <a href="/forum/add/{{ theme }}">
            <span>Добавить новое обсуждение</span>
            <span>add</span>
        </a>
    </div>
    {% endif %}
    {% for topic in topics %}
        <div class="forum-theme">
            <img class="ava" src="/static/image/ava.jpg">
            <a href="/forum/{{ topic.id }}" class="title-forum-theme-a">
                <div class="title-forum-theme">
                    <h4>{{ topic.user }}: {{ topic.title }}</h4>
                    <h5>{{ topic.theme }}</h5>
                    <p>{{ topic.text| linebreaks }}</p>
                    <br>
                    <data>{{ topic.start_data }}</data>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<div class="forums-list">
    <h4>Темы форума</h4>
    <ul>
        {% for t in themes.items %}
            {% if t.0 == theme %}
                <li><a class="active" href="/forum">{{ t.1 }}</a></li>
            {% else %}
                <li><a href="/forum/theme/{{ forloop.counter }}">{{ t.1 }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</section>
{% endblock body %}