{% extends "base.html" %}
{% block title%}Форум{% endblock title%}
{% block body %}
<h1>Форум</h1>
<section class="forum-page">
<div class="main-forums-theme-list">
    <div class="make-forum-theme">
        <a href="/forum/add">
            <span>Добавить новое обсуждение</span>
            <span>add</span>
        </a>
    </div>
    {% for topic in topics %}
        <div class="forum-theme">
            <img class="ava" src="/static/image/ava.jpg">
            <a href="/forum/{{ topic.id }}" class="title-forum-theme-a">
                <div class="title-forum-theme">
                    <h4>{{ topic.title }}</h4>
                    <h5>{{ topic.theme }}</h5>
                    <p>{{ topic.text| linebreaks }}</p>
                    <br>
                    <data>{{ topic.start_data }}</data>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<div class="forums-list">
    <h4>Темы форума</h4>
    <ul>
        <li><a href="/forum/theme/1">Продукция охоты – предложения, качество, объёмы, цены</a></li>
        <li><a href="/forum/theme/2">Охота, охотничьи путешествия, трофеи</a></li>
        <li><a href="/forum/theme/3">Способы и орудия охоты</a></li>
        <li><a href="/forum/theme/4">Актуальные правовые и организационно-экономические проблемы охотничьего хозяйства</a></li>
        <li><a href="/forum/theme/5">Иркутский охотфак – поиск и общение сокурсников, выпускников, педагогов</a></li>
    </ul>
</div>
</section>
{% endblock body %}