{% extends "base.html" %}
{% block title%}Продукция и услуги{% endblock title%}
{% block body %}
    <h1>Продукция и услуги</h1>
    <div class="hiden-prod-info" id="proch">
        <div class="product-info">
            <h2><span>Прочая продукция</span>
            <a href="#">close</a>
            </h2>
            <div>
                Фирма «Байкал-Фурс» периодически осуществляет заготовку или
                поставку на комиссионных условиях различной продукции охотничьего хозяйства. Это -
                шкурки «цветной» промысловой пушнины, рога и панты различных видов оленей,
                лекарственно-техническое и пищевой сырьё животного и растительного происхождения,
                готовая продукция. Мы будем рады вашим предложениям по закупке или сбыту
                имеющейся у вас лесной продукции, совместной деятельности и партнёрству в
                охотхозяйственной сфере.
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="help">
        <div class="product-info">
            <h2><span>Услуги</span>
            <a href="#">close</a>
            </h2>
            <div>
                Наша компания оказывает услуги по поставке вашей продукции на экспорт на
                комиссионных условиях. Мы готовы оказать вам помощь в реализации струи кабарги, чаги,
                пантов северного оленя, рогов благородного и пятнистого оленей (марала, изюбря),
                желчных камней КРС, пушнины. Размер комиссионного вознаграждения зависит от вида
                товара и его качества, наличия и правильности оформления сопроводительных
                документов, условий поставки, объёма партии товара и составляет от 5 до 15%. Все
                условия поставки вашей продукции на экспорт вы можете уточнить у наших специалистов,
                связавшись с ними по вкладке Контакты.
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="chaga">
        <div class="product-info">
            <h2><span>Чага</span>
            <a href="#">close</a>
            </h2>
            <div>
                <p><b>Требования по качеству</b></p>
                Чага принимается цельной либо рубленой. Она не
            должна содержать посторонних примесей (древесина, кора и др.). Размер кусков
            (грибов) не должен быть менее 4 см. Не принимается чага мягкая и рыхлой
            консистенции.
                <p><b>Закупочная цена</b> – 200 рублей за кг.</p>
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="krs">
        <div class="product-info">
            <h2><span>Желчные камни КРС</span>
            <a href="#">close</a>
            </h2>
            <div>
                <p><b>Требования по качеству</b></p>
                Желчные камни крупного рогатого скота должны
            быть сухие, оранжевого цвета, цельные, ломаные или в виде порошка.
            Выделяют четыре сорта камней:
                <br>
                <p><b>Первый сорт</b> – цельные оранжевые камни, хорошо высушенные, без
            плесени диаметром 25 и более мм.</p>
                <p><b>Второй сорт</b> - цельные оранжевые камни, хорошо высушенные, без
            плесени диаметром менее 25 мм</p>
                <p><b>Третий сорт</b> – ломанные камни оранжевого цвета, сухие, без плесени</p>
                <p><b>Четвёртый сорт</b> – порошок желчных камней.</p>
                <br>
                <p><b>Закупочные цены</b> зависят от качества, объёма партии и условий доставки.
            Актуальные цены можно узнать у наших специалистов или задав вопрос
            на сайте в разделе «Вопрос-Ответ»</p>
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="roga-pants">
        <div class="product-info">
            <h2><span>Рога и панты оленей</span>
            <a href="#">close</a>
            </h2>
            <div>
                Мы постоянно закупаем окостенелые рога благородного оленя (изюбря,
            марала) и пятнистого оленя.
            Требования по качеству. Закупка осуществляется по сортам, в
            зависимости от размера, свежести рога и степени его повреждения.
            Выделяют четыре сорта рогов.
                <br><br><br>
                <b>Первый сорт</b> - Свежие рога коричневого цвета без повреждений (сломов,
            трещин и др). Вес каждого рога 1,5 и более кг.
                <br><img src="/static/image/Roga1.jpeg"><br>
                <b>Второй сорт</b> – тоже, что и первый сорт, но вес каждого рога менее 1,5 кг
            или ломаные рога первого сорта.
                <br><img src="/static/image/Roga2.jpeg" id="Roga2"><br>
                <b>Третий сорт</b> – рога с признаками старения. Допускаются единичные
            трещины и незначительное побеление.
                <br><img src="/static/image/Roga3.jpeg"><br>
                <b>Четвёртый сорт</b> – старые побелевшие рога с трещинами, в том числе их
            лом.
                <br><img src="/static/image/Roga4.jpeg"><br><br>
                <p><b>Закупочная цена</b></p>
                <ul></ul>
                    <p><li>Первый сорт – 1 500 руб/кг</li></p>
                    <p><li>Второй сорт – 1 250 руб/кг</li></p>
                    <p><li>Третий сорт – 1 000 руб/кг</li></p>
                    <p><li>Четвёртый сорт – 750 руб/кг</li></p>
                </ul>
                <br>
            Цены могут меняться в зависимости от размера партии и условий
            доставки.
                <br>
            Компания также периодически закупает рога и панты северного оленя,
            рога лося. Условия закупки можно узнать у наших специалистов.
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="prom-push">
        <div class="product-info">
            <h2><span>Промысловая пушнина</span>
            <a href="#">close</a>
            </h2>
            <div>
                Мы оказываем охотникам и
            охотпользователями услуги по сортировке, доработке и поставке шкурок
            соболя на Санкт-Петербургский аукцион Союзпушнины. Сортировка
            осуществляется в строгом соответствии с требованиями аукциона, по
            кряжам, размерам, сортам, цвету, дефекту и степени седины. Каждая
            шкурка, при согласии поставщика, проходит доработку по качеству на
            специальном оборудовании, что повышает её товарные характеристики и,
            следовательно, цену. Шкурки биркуются индивидуальными баркодами.
            Оплата происходит в сроки, установленные Союзпушниной.
            Комиссионное вознаграждение составляет 10% от цены аукциона (5%
            комиссия Союзпушнины, 5% комиссия компании Байкал-Фурс)
            Также мы периодически осуществляем закупку шкурок соболя, белки,
            колонка, рыси и других зверей по заказу наших иностранных партнёров.
            <br>
            <br>
                <b>Закупочные цены</b> формируются по рынку и их следует уточнять у наших
            специалистов по указанным в разделе Контакты каналам связи.
            </div>
        </div>
    </div>
    <div class="hiden-prod-info" id="muskus">
        <div class="product-info">
            <h2><span>Мускус кабарги</span>
            <a href="#">close</a>
            </h2>
        <div>   Струя (мускусная железа) должна быть:
        <ul>
        <li>наполнена мускусом в полной мереи не содержать посторонних примесей</li>
        <li>иметь характерный мускусный запах, без запаха прелостей и гнили</li>
        <li>обработана таким образом, чтобы края кожи вокруг мешочка выступали не более, чем на 5-10 мм, а волос коротко подстрижен</li>
        <li>хорошо просушена, но не пересушена, при нажатии не выделять жидкость, содержать мускус вязкой консистенции</li>
        <li>без расширенного или повреждённого отверстия на покрытой волосом стороне мешочка</li>
        <li>Струя сортируется по размерам следующим образом: особо крупная - 31 гр. и более; крупная - от 26 до 31 гр.; средняя - от 20 до 25 гр., мелкая - от 12 до 19 гр., особо мелкая - менее 12 гр</li>
        К дефектам струи относятся:
            <ul>
                <li>излишняя влажность или сухость</li>
                <li>повреждение кожистой оболочки</li>
                <li>лишняя кожа и волос</li>
                <li>повреждение отверстия струи</li>
                <li>слабое наполнение мешочка мускусом</li>
                <li>гнилость</li>
                <li>наличие посторонних примесей</li>
                <li>комовая правка</li>
                <li>сваренность и др.</li>
            </ul>
         </ul>
        В процессе приёмки товара, наши специалисты укажут вам на существующие
        дефекты и предложат их устранить, либо сделают соответствующие скидки

            <p><b>Закупочная цена</b></p>
            Цена зависит от качества и размера струи, объёма
        партии (количества товара), правильности оформления
        сопроводительных документов и находится в диапазоне от 700 до 2 500
        рублей за грамм. Крупным поставщикам мы можем предложить продажу
        струи на экспорт на комиссионных условиях. Закупочные цены постоянно
        актуализируются по рынку, поэтому советуем вам их уточнять у наших
        специалистов.

            <p><b>Документы</b></p>
            Каждая струя (партия струи) должна сопровождаться
        правильно оформленными (закрытыми на самца, без исправлений и
        помарок) разрешениями на добычу и ветеринарным свидетельством.
        Подробности оформления документов можно уточнить у наших
        специалистов по указанным на сайте каналам связи.

        </div>
        </div>
    </div>
     <div class="columns c3">
        <div class="column">
        <div class="photo-preview">
            <a href="#muskus"><div class="photo">
                <img src="/static/image/muscus.JPG">
            </div>
            <div class="info">
                <p class="name">Струя(мускус) кабарги</p>
            </div></a>
        </div>
        <div class="photo-preview">
            <a href="#chaga"><div class="photo">
                <img src="/static/image/Chaga.jpeg">
            </div>
            <div class="info">
                <p class="name">Чага</p>
            </div></a>
        </div>
        </div>
        <div class="column">
        <div class="photo-preview">
            <a href="#prom-push"><div class="photo">
                <img src="/static/image/Соболь.jpg">
            </div>
            <div class="info">
                <p class="name">Промысловая пушнина</p>
            </div></a>
        </div>
        <div class="photo-preview">
            <a href="#krs"><div class="photo">
                <img src="/static/image/Желчные камни КРС.jpg">
            </div>
            <div class="info">
                <p class="name">Желчный камень КРС</p>
            </div></a>
        </div>
        <div class="photo-preview">
            <a href="#help"><div class="photo">
                <img src="/static/image/Аукцион.jpg">
            </div>
            <div class="info">
                <p class="name">Услуги</p>
            </div></a>
        </div>
        </div>
        <div class="column">
        <div class="photo-preview">
            <a href="#roga-pants"><div class="photo">
                <img src="/static/image/Rogas.jpeg">
            </div>
            <div class="info">
                <p class="name">Рога и панты оленей</p>
            </div></a>
        </div>
        <div class="photo-preview">
            <a href="#proch"><div class="photo">
                <img src="/static/image/желчьБМ.jpg">
            </div>
            <div class="info">
                <p class="name">Прочая продукция</p>
            </div></a>
        </div>
        </div>
    </div>
{% endblock body %}