{% extends "base.html" %}
{% block title%}Регистрация{% endblock title%}
{% block body %}
    {% if form_r %}
    <div class="form">
        <form action = "/register/" method="POST">
        {% csrf_token %}
            <table>
            {{ form_r.as_table }}
            <tr>
            <th></th>
            <td><input type="submit" value="Регистрация"></td>
            </tr>
            </table>
        </form>
    </div>
    {% else %}
        <h1></h1>
        Спасибо. Вам на почту отправлено письмо для подтверждения регистрации.
    {% endif %}
{% endblock body %}