{% extends "base.html" %}
{% block title%}Форум{% endblock title%}
{% block body %}
<section class="forum-page">
<h1>Форум</h1>
<div class="main-forums-theme-list">
    <div class="make-forum-theme">
        <a href="add">
            <span>Добавить новое обсуждение</span>
            <span>add</span>
        </a>
    </div>
    <div class="forum-theme">
        <img class="ava" src="/static/image/ava.jpg">
        <div class="title-forum-theme">
            <h4>Обсуждение форума №1</h4>
            <p>Превью форума</p>
        </div>
    </div>
    <div class="forum-theme">
        <img class="ava" src="/static/image/ava.jpg">
        <div class="title-forum-theme">
            <h4>Обсуждение форума №2</h4>
            <p>Превью форума</p>
        </div>
    </div>
    <div class="forum-theme">
        <img class="ava" src="/static/image/ava.jpg">
        <div class="title-forum-theme">
            <h4>Обсуждение форума №3</h4>
            <p>Превью форума</p>
        </div>
    </div>
    <div class="forum-theme">
        <img class="ava" src="/static/image/ava.jpg">
        <div class="title-forum-theme">
            <h4>Обсуждение форума №4</h4>
            <p>Превью форума</p>
        </div>
    </div>
    <div class="forum-theme">
        <img class="ava" src="/static/image/ava.jpg">
        <div class="title-forum-theme">
            <h4>Обсуждение форума №5</h4>
            <p>Превью форума</p>
        </div>
    </div>
</div>
<div class="forums-list">
    <h4>Темы форума</h4>
    <ul>
        <li><a href="#">Продукция охоты – предложения, качество, объёмы, цены</a></li>
        <li><a href="#">Охота, охотничьи путешествия, трофеи</a></li>
        <li><a href="#">Способы и орудия охоты</a></li>
        <li><a href="#">Актуальные правовые и организационно-экономические проблемы охотничьего хозяйства</a></li>
        <li><a href="#">Иркутский охотфак – поиск и общение сокурсников, выпускников, педагогов</a></li>
    </ul>
</div>
</section>
{% endblock body %}