{% extends "base.html" %}
{% block title%}Форум{% endblock title%}
{% block body %}
<section class="forum-page">
<!--
<div class="main-forums-theme-list">
    <h1>Форум</h1>
    <div class="forum-theme">
        <p>Тема форума №1</p>
    </div>
    <div class="forum-theme">
        <p>Тема форума №2</p>
    </div>
    <div class="forum-theme">
        <p>Тема форума №3</p>
    </div>
    <div class="forum-theme">
        <p>Тема форума №4</p>
    </div>
    <div class="forum-theme">
        <p>Тема форума №5</p>
    </div>
</div>
<div class="forums-list">
    <h4>Темы форума</h4>
    <ul>
        <li><a href="#">Охота</a></li>
        <li><a href="#">Лесоводство</a></li>
        <li><a href="#">Рыбалка</a></li>
        <li><a href="#">Оружие</a></li>
        <li><a href="#">Снаряжение</a></li>
    </ul>
</div>
!-->
Страница в разработке
</section>
{% endblock body %}