{% extends "base.html" %}
{% block title%}Фото и видео{% endblock title%}
{% block body %}
    {% for i in photos %}
    <div class="hidden-photo" id="i{{ forloop.counter }}">
        <a href="#"><div class="full-screen"></div></a>
        {% if not forloop.first %}
            <a href="#i{{ forloop.counter0 }}">
                <svg class=to-left>
                    <polygon points="20,0 20,20 0,10" stroke-width="1"/>
                </svg>
            </a>
        {% endif %}
            <img src="/{{ i }}">
            <div class="number-of-content">{{ forloop.counter }} из {{ photos|length }}</div>
        {% if not forloop.last %}
            <a href="#i{{ forloop.counter|add:"1" }}">
                <svg class=to-right>
                    <polygon points="0,20 0,0 20,10" stroke-width="1"/>
                </svg>
            </a>
        {% endif %}
    </div>
    {% endfor %}
    {% for i in videos %}
    <div class="hidden-photo" id="v{{ forloop.counter }}">
        <a href=""><div class="full-screen"></div></a>
        {% if not forloop.first %}
            <a href="#v{{ forloop.counter0 }}">
                <svg class=to-left>
                    <polygon points="20,0 20,20 0,10" stroke-width="1"/>
                </svg>
            </a>
        {% endif %}
            <video controls>
                <source src="/{{ i }}">
            </video>
            <div class="number-of-content">{{ forloop.counter }} из {{ videos|length }}</div>
        {% if not forloop.last %}
            <a href="#v{{ forloop.counter|add:"1" }}">
                <svg class=to-right>
                    <polygon points="0,20 0,0 20,10" stroke-width="1"/>
                </svg>
            </a>
        {% endif %}
    </div>
    {% endfor %}
    <h1>{{ title }}</h1>
    {% autoescape off %}
    <p class="otchet-prew">{{ text }}</p>
    {% endautoescape %}
    {% if photos %}
    <h3>Фотографии</h3>
    {% endif %}
    <div class="image-list">
    {% for photo in photos %}
        <a href="#i{{ forloop.counter }}"><img src="/{{ photo }}"></a>
    {% endfor %}
    </div>
    {% if videos %}
    <h3>Видео</h3>
    {% endif %}
    <div class="video-list">
    {% for video in videos %}
        <a href="#v{{ forloop.counter }}">
            <div class="video-prew">
                <video preload="metadata">
                    <source src="/{{ video }}">
                </video>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock body %}