{% extends "base.html" %}
{% block title%}Фото и видео{% endblock title%}
{% block body %}
    <h1>Фото и видео</h1>
    <table class="otchets">
    {% for lis in columns %}
    <tr>
    {% for el in lis %}
        {% if el.0 %}
        <td>
        <div class="photo-preview">
            <a href="/otchet/{{ el.0.name }}"><div class="photo">
                <img src="/{{ el.1 }}">
            </div>
            <div class="info">
                <p class="name">{{ el.0.name }}</p>
                <p class="date">{{ el.0.date }}</p>
            </div></a>
        </div>
        </td>
        {% else %}
            <td></td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
{% endblock body %}