{% extends "base.html" %}
{% block title%}Продукция и услуги{% endblock title%}
{% block body %}
    <h1>Продукция и услуги</h1>
    <p>Здесь можно найти всю информацию по требуемуму качеству товара для его скупки нашей компанией</p>
    <div class="hiden-prod-info" id="muskus">
        <div class="product-info">
            <h2><span>Мускус кабарги</span>
            <a href="#">close</a>
            </h2>
        <div>   Струя (мускусная железа) должна быть:
        <ul>
        <li>наполнена мускусом в полной мереи не содержать посторонних примесей</li>
        <li>иметь характерный мускусный запах, без запаха прелостей и гнили</li>
        <li>обработана таким образом, чтобы края кожи вокруг мешочка выступали не более, чем на 5-10 мм, а волос коротко подстрижен</li>
        <li>хорошо просушена, но не пересушена, при нажатии не выделять жидкость, содержать мускус вязкой консистенции</li>
        <li>без расширенного или повреждённого отверстия на покрытой волосом стороне мешочка</li>
        <li>Струя сортируется по размерам следующим образом: особо крупная - 31 гр. и более; крупная - от 26 до 31 гр.; средняя - от 20 до 25 гр., мелкая - от 12 до 19 гр., особо мелкая - менее 12 гр</li>
        К дефектам струи относятся:
            <ul>
                <li>излишняя влажность или сухость</li>
                <li>повреждение кожистой оболочки</li>
                <li>лишняя кожа и волос</li>
                <li>повреждение отверстия струи</li>
                <li>слабое наполнение мешочка мускусом</li>
                <li>гнилость</li>
                <li>наличие посторонних примесей</li>
                <li>комовая правка</li>
                <li>сваренность и др.</li>
            </ul>
         </ul>
        В процессе приёмки товара, наши специалисты укажут вам на существующие
        дефекты и предложат их устранить, либо сделают соответствующие скидки

            <p><b>Закупочная цена</b></p>
            Цена зависит от качества и размера струи, объёма партии
        (количества товара), правильности оформления сопроводительных документов и
        находится в диапазоне от 700 до 2 300 рублей за грамм. Крупным поставщикам
        мы можем предложить продажу струи на экспорт на комиссионных условиях.

            <p><b>Документы</b></p>
            Каждая струя (партия струи) должна сопровождаться правильно
        оформленными (закрытыми) разрешениями на добычу (отрывными талонами) и
        ветеринарным свидетельством. Подробности оформления документов можно
        уточнить у наших специалистов.

        </div>
        </div>
    </div>
     <div class="columns c3">
        <div class="column">
        <div class="photo-preview">
            <a href="#muskus"><div class="photo">
                <img src="/static/image/olen.jpg">
            </div>
            <div class="info">
                <p class="name">Мускус кабарги</p>
            </div></a>
        </div>
        <div class="photo-preview">
            <a href="#muskus"><div class="photo">
                <img src="/static/image/olen.jpg">
            </div>
            <div class="info">
                <p class="name">Мускус кабарги</p>
            </div></a>
        </div>
        </div>
        <div class="column">
        <div class="photo-preview">
            <div class="photo">
                <img src="/static/image/olen.jpg">
            </div>
            <div class="info">
                <p class="name">Фото из Мольт №2</p>
            </div>
        </div>
        </div>
        <div class="column">
        <div class="photo-preview">
            <div class="photo">
                <img src="/static/image/olen.jpg">
            </div>
            <div class="info">
                <p class="name">Фото из Мольт №1</p>
            </div>
        </div>
        </div>
    </div>
{% endblock body %}